<div class="post_date">
    <div class="post_date_top">
        <%= @day %>
    </div>
    <div class="post_date_bottom">
        <%= @month %>
    </div>
</div>
<h2 id="post-2" class="post_header">Welcome!</h2>
<div class="post_line">
</div>
<div class="post_content">
    <p>
        Finally you can manage your media collection in a safe and easy way! :-)
    </p>
    <p>
        In this start page you will find the list of new entryes in your collection!!
    </p>
</div>